@using TP6.Models
@model Productos

@{
    ViewData["Title"] = "Editar Producto";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Productos" asp-action="EditarProducto">
    <input asp-for="@Model.IdProducto" type="hidden" class="form-control" value="@Model.IdProducto" />
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" value="@Model.Descripcion" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" value="@Model.Precio" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Editar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Cancelar</a>
</form>
