@using TP6.Models
@model List<Producto>

@if (ViewBag.ErrorMessage != null)
{
        <div class="error-message">
            <p>@ViewBag.ErrorMessage</p>
        </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<h2>Lista de Productos</h2>

<table class="table table-bordered text-light">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Precio</th>
            @if ((bool)ViewData["EsAdmin"])
            {
                <th>Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Descripcion</td>
                <td>$ @producto.Precio.ToString()</td>
                @if ((bool)ViewData["EsAdmin"])
                {
                    <td>    
                        <a asp-controller="Productos" asp-action="ModificarProducto" asp-route-id="@producto.IdProducto" class="btn btn-warning">Editar</a>
                        <a asp-controller="Productos" asp-action="EliminarProducto" asp-route-id="@producto.IdProducto" class="btn btn-danger">Eliminar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @if ((bool)ViewData["EsAdmin"])
    {
        <a asp-controller="Productos" asp-action="AltaProducto" class="btn btn-success">Alta producto</a>
    }
</div>





