@using TP6.Models
@model Presupuestos

@{
    ViewData["Title"] = "Editar Presupuesto";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Presupuestos" asp-action="EditarPresupuesto">
    <input asp-for="@Model.IdPresupuesto" type="hidden" class="form-control" value="@Model.IdPresupuesto" />

    <input type="hidden" name="Cantidad" value="@Model.Detalles[0].Cantidad" />
    <input type="hidden" name="IdProducto" value="@Model.Detalles[0].producto.IdProducto" />
    <input type="hidden" name="Descripcion" value="@Model.Detalles[0].producto.Descripcion" />
    <input type="hidden" name="Precio" value="@Model.Detalles[0].producto.Precio" />
    <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion" />

    <!--<div class="form-group">
        <label asp-for="Model.NombreDestinatario" class="control-label"></label>
        <input asp-for="Model.NombreDestinatario*/" class="form-control" />
        <span asp-validation-for="Model.NombreDestinatario" class="text-danger"></span>
    </div>-->

    <button type="submit" class="btn btn-primary mt-3">Editar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Cancelar</a>
</form>
