@using TP6.Models
@model List<Clientes>

<h2>Lista de Clientes</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefono</td>
                <td>
                    <a asp-controller="Clientes" asp-action="ModificarCliente" asp-route-id="@cliente.ClienteId" class="btn btn-warning">Editar</a>
                    <a asp-controller="Clientes" asp-action="EliminarCliente" asp-route-id="@cliente.ClienteId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a asp-controller="Clientes" asp-action="AltaCliente" class="btn btn-success">Alta Cliente</a>
</div>